[submodule "third_party/kiqoder"]
	path = third_party/kiqoder
	url = git@github.com:stronglogicsolutions/kiqoder
[submodule "https://github.com/stronglogicsolutions/kiqoder"]
	url = third_party/kiqoder
