ky_gui.pro.user*
ky_gui
moc*
tags
*.o
**.o
Makefile
*.stash
qrc_kres.*
**/*.jpg
assets
config
ky_gui_plugin_import.cpp
html
qdoc.conf
**/.autosave
ui_mainwindow.h
ui_argdialog.h
ui_consoledialog.h
ui_messagedialog.h
ui_appdialog.h
ui_scheduledialog.h
ui_documentwindow.h

