QPushButton {
      border-style: outset;
      border-width: 2px;
      border-radius: 10px;
      border-color: beige;
      min-width: 10em;
      padding: 6px;
}

QPushButton:hover
{
   opacity: 0.7;
}
